#include<stdio.h>
int main(){
  int c,d,h,g;
  int arrc[7],arrd[7],arrh[7],arrg[7];
  for(int x=0;x<7;x++){
    scanf("%d",&c);
    arrc[x]=c;
    arrd[x]=c-80;
    arrh[x]=c+50;
    arrg[x]=arrd[x]-arrh[x];
  }
  for(int x=0;x<7;x++){
    printf("%d\n",arrg[x]);
  }
}
